Navbar.css

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
     align-items: center; 
    background-color: teal;
    height: 10%;
    padding: 2% 800px;
  }
  
  .navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    width: 100%;
  }
  
  .nav-link {
    margin-right: 20px;
    color: rgb(195, 199, 225);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 20px;
  }
  
  .nav-link:hover {
    color: darkred;
    cursor: pointer;
  }
  
  .balance-info {
    color: white;
    margin: 0 10px;
    font-size: 14px;
  }
  
   .content {
    padding: 20px;
    background-color: #f0f0f0;
    height: 90vh;
    overflow-y: auto;
  }
   
   .h1{
  background-color: rgb(19, 219, 153);
   } 
 


